/**
 *
 * @author dongntd267@gmail.com
 *
 */

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@theme {
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-mobile: 30rem; /* 480px */
    --breakpoint-tablet: 40rem; /* 640px */
    --breakpoint-laptop: 64rem; /* 1024px */
    --breakpoint-desktop: 88rem; /* 1408px */
}

@theme inline {
    --color-main: var(--color-custom-main);
    --color-danger: var(--color-custom-danger);
    --color-warning: var(--color-custom-warning);
    --color-success: var(--color-custom-success);
    --color-info: var(--color-custom-info);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
    :root {
        --color-custom-main: theme(colors.blue.800);
        --color-custom-danger: theme(colors.red.500);
        --color-custom-warning: theme(colors.amber.500);
        --color-custom-success: theme(colors.green.500);
        --color-custom-info: theme(colors.blue.500);
        --scrollbar-thumb: theme(colors.gray.400);
        --scrollbar-track: theme(colors.gray.200);

        --app-size-height-header: calc(var(--spacing) * 16); /* 64px */
        --app-size-height-sidebar: calc(100dvh - var(--app-size-height-header));
        --app-size-height-sidebar-mini: calc(var(--spacing) * 12); /* 48px */
        --app-size-width-sidebar-collapse: 56px;
        --app-size-width-sidebar-expand: 267px;
        --app-size-breakpoint-sidebar-collapse: 1030px;
        --app-size-breakpoint-sidebar-hidden: 600px;

        --z-index-header: theme(zIndex.50);

        --radius: 0.625rem;
        --background: oklch(1 0 0);
        --foreground: oklch(0.145 0 0);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.145 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.145 0 0);
        --primary: oklch(0.205 0 0);
        --primary-foreground: oklch(0.985 0 0);
        --secondary: oklch(0.97 0 0);
        --secondary-foreground: oklch(0.205 0 0);
        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(0.556 0 0);
        --accent: oklch(0.97 0 0);
        --accent-foreground: oklch(0.205 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --border: oklch(0.922 0 0);
        --input: oklch(0.922 0 0);
        --ring: oklch(0.708 0 0);
        --chart-1: oklch(0.646 0.222 41.116);
        --chart-2: oklch(0.6 0.118 184.704);
        --chart-3: oklch(0.398 0.07 227.392);
        --chart-4: oklch(0.828 0.189 84.429);
        --chart-5: oklch(0.769 0.188 70.08);
        --sidebar: oklch(0.985 0 0);
        --sidebar-foreground: oklch(0.145 0 0);
        --sidebar-primary: oklch(0.205 0 0);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.97 0 0);
        --sidebar-accent-foreground: oklch(0.205 0 0);
        --sidebar-border: oklch(0.922 0 0);
        --sidebar-ring: oklch(0.708 0 0);
    }
    /* Theme dark */
    [data-theme='dark'],
    .dark {
        --color-custom-main: theme(colors.blue.400);
        --scrollbar-thumb: theme(colors.gray.600);
        --scrollbar-track: theme(colors.gray.900);

        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.205 0 0);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.922 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);
        --accent: oklch(0.269 0 0);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.704 0.191 22.216);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
        --sidebar: oklch(0.205 0 0);
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.488 0.243 264.376);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.269 0 0);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.556 0 0);
    }

    * {
        @apply border-border outline-ring/50;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        @apply bg-background text-foreground;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior: none;
        scroll-behavior: smooth;
    }
    html {
        overflow: hidden auto;
        overscroll-behavior: none;
        scroll-behavior: smooth;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        font-size: 16px; /* 1rem */
    }
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        user-select: none;
    }
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    .scrollbar-hidden {
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar-track {
        display: none; /* Chrome, Edge, Safari */
    }
    .scrollbar-custom {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: calc(var(--spacing) * 2.5);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: calc(var(--spacing) * 2.5);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background-color: color-mix(in srgb, var(--scrollbar-thumb), black 15%);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:active {
        background-color: color-mix(in srgb, var(--scrollbar-thumb), black 15%);
    }
}
